In [2]:
#Series and DataFrame two main workhorses of data structures in pandas
import pandas as pd

In [7]:
obj = pd.Series([4, 7, -5, 3])
#obj = pd.Series([*range(10)])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [9]:
#to show only the array
obj.array
obj.index

RangeIndex(start=0, stop=4, step=1)

In [15]:
#with custom index

obj2 = pd.Series([4,7, -5, 3], index=['a', 'b', 'c', 'd'])
obj2
obj2.index
obj2['a'] = 1  #inplace changer
obj2

a    1
b    7
c   -5
d    3
dtype: int64

In [18]:
obj2 * 2 #any ops will preserve the index

a     2
b    14
c   -10
d     6
dtype: int64

In [19]:
'b' in obj2

True

In [26]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)   #takes dictionary also
obj3
#also can be changed to dict
obj3.to_dict()
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [25]:
#Series manipulation
states = ['California', 'Ohio', 'Oregon', 'Texas']

obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [27]:
#checking na objects in pandas
pd.isna(obj4)
pd.notna(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [28]:
#also another way
obj4.isna()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [31]:
#series addition
obj3 + obj4  #missing values show nan  #simillar to outer join

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [33]:
obj4.name = 'Population'

obj4.index.name = 'State'

obj4

State
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: Population, dtype: float64