In [ ]:
#Series and DataFrame two main workhorses of data structures in pandas
import pandas as pd

In [ ]:
obj = pd.Series([4, 7, -5, 3])
#obj = pd.Series([*range(10)])
obj

In [ ]:
#to show only the array
obj.array
obj.index

In [ ]:
#with custom index

obj2 = pd.Series([4,7, -5, 3], index=['a', 'b', 'c', 'd'])
obj2
obj2.index
obj2['a'] = 1  #inplace changer
obj2

In [ ]:
obj2 * 2 #any ops will preserve the index

In [ ]:
'b' in obj2

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)   #takes dictionary also
obj3
#also can be changed to dict
obj3.to_dict()
obj3

In [ ]:
#Series manipulation
states = ['California', 'Ohio', 'Oregon', 'Texas']

obj4 = pd.Series(sdata, index=states)
obj4

In [ ]:
#checking na objects in pandas
pd.isna(obj4)
pd.notna(obj4)

In [ ]:
#also another way
obj4.isna()

In [ ]:
#series addition
obj3 + obj4  #missing values show nan  #simillar to outer join

In [ ]:
obj4.name = 'Population'

obj4.index.name = 'State'

obj

obj.index = ['bob', 'steve', 'jeff', 'ryan']
obj

#### DataFrame

In [ ]:
#Datafram can be considered as a dictionary of series sharing the same index

In [ ]:

#one of the most common way to construct a dataframe

data = {"state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
'year': [2000, 2001, 2002, 2001, 2002, 2003], 'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

frame = pd.DataFrame(data)
frame

In [ ]:
#to select specific columns in arranged order

pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'])
#debt missing because no data available

#to see the columns

frame.columns

In [ ]:
frame['state']

In [ ]:
#datafram row selection
import numpy as np
frame.loc[1]   #selects first row

frame.iloc[2]

#broadcasting is also available

frame['debt'] = 16.5
frame

frame['debt'] = np.arange(6)
frame

In [ ]:
val = pd.Series([-1.2, 1.5, -1.7], index=['two','three', 'four'])
#if we do however
val = pd.Series([-1.2, 1.5, -1.7], index=[2,3,4])
#it shows up in places where it matches the index

In [ ]:
frame['debt'] = val
frame

In [ ]:
frame['eastern'] = frame['state'] == 'Ohio'
frame

In [ ]:
del frame['eastern']

In [77]:
frame.columns

Index(['state', 'year', 'pop', 'debt'], dtype='object')

In [78]:
populations = {"Ohio": {2000: 1.5, 2001: 1.7, 2002: 3.6},"Nevada": {2001: 2.4, 2002: 2.9}}

In [79]:
populations  #nested dictionary

{'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}, 'Nevada': {2001: 2.4, 2002: 2.9}}

In [80]:
#if nested dictionary is passed python will interpret the outer dictionary keys as the columns and the inner keys as the row indices

frame3 = pd.DataFrame(populations)
frame3

      Ohio  Nevada
2000   1.5     NaN
2001   1.7     2.4
2002   3.6     2.9

In [98]:
frame3

      Ohio  Nevada
2000   1.5     NaN
2001   1.7     2.4
2002   3.6     2.9

In [110]:
pdata = {"Ohio": frame3["Ohio"][:-1], "Nevada": frame3["Nevada"][:2]}
pdata

/tmp/ipykernel_18814/1765095593.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  pdata = {"Ohio": frame3["Ohio"][:-1], "Nevada": frame3["Nevada"][:2]}

{'Ohio': 2000    1.5
 2001    1.7
 Name: Ohio, dtype: float64,
 'Nevada': 2000    NaN
 2001    2.4
 Name: Nevada, dtype: float64}